.the-gallery-section-main {
  padding: 100px 0;

  @media (max-width:1024px) {
    padding: 57px 0;
  }

  @media (max-width:576px) {
    padding: 48px 0 48px 0;
  }

  .the-gallery-section {

    @media (max-width:576px) {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    .the-gallary-title {
      position: relative;

      @media (max-width:576px) {
        height: 86px;
      }

      h1 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 157.3px;
        font-weight: 900;
        line-height: 136.85px;
        letter-spacing: -0.06em;
        text-align: center;
        color: #1b1b1b;
        margin: 0 0 -100px 0;

        @media (max-width:1024px) {
          font-size: 85px;
          line-height: 79px;
          margin: 0 0 -50px 0;
        }

        @media (max-width:576px) {
          font-size: 98px;
          line-height: 86px;
          text-align: center;
          margin: 0;
          position: absolute;
          top: 0;
          left: -20px;
          width: calc(100% + 40px);
        }
      }
    }

    .the-gallery-section-image {
      img {
        min-height: 562px;
        max-height: 562px;

        @media (max-width:1024px) {
          min-height: 326px;
          max-height: 326px;
        }

        @media (max-width:1024px) {
          max-width: none;
          min-height: 154px;
        }
      }
    }
  }
}