.follow-the-journey-herobanner-main {
  margin: 38px 0 24px 0;

  @media (max-width:576px) {
    margin: 17px 0 49px 0;
  }

  .follow-the-journey-herobanner-container {
    max-width: 1235px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width:576px) {
      padding: 0;
    }
  }

  .follow-the-journey-herobanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 139px 0 0 0;

    @media (max-width:1024px) {
      padding: 108px 0 0 0;
      justify-content: space-around;
    }

    @media (max-width:576px) {
      padding: 0;
      flex-direction: column;
    }

    .folow-the-journey-title {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;

      @media (max-width:576px) {
        position: relative;
        z-index: 0;
      }

      h1 {
        margin: 0 auto;
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 144px;
        font-weight: 900;
        line-height: 126px;
        letter-spacing: -0.06em;
        text-align: center;
        color: #1b1b1b;
        max-width: 617px;

        @media (max-width:1024px) {
          font-size: 92px;
          line-height: 80px;
          max-width: 393px;
        }

        @media (max-width:576px) {
          font-size: 92px;
          line-height: 80px;
        }
      }
    }

    .follow-the-journey-herobanner-items1 {
      position: relative;
      z-index: 2;

      @media (max-width:576px) {
        padding: 143px 0 0 0;
        overflow: hidden;
        width: 100%;
      }

      h1 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 200px;
        font-weight: 900;
        line-height: 175px;
        letter-spacing: -0.06em;
        margin: 0 0 20px 0;
        color: #1b1b1b;
        max-width: 409px;

        @media (max-width:1024px) {
          max-width: 236px;
          font-size: 115px;
          line-height: 100px;
          margin: 0 0 15px 0;
        }

        @media (max-width:576px) {
          font-size: 200px;
          line-height: 170px;
          max-width: none;
          margin: 0 0 10px 0;
          word-break: keep-all;
          text-align: center;
        }
      }

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #1b1b1b;
        max-width: 409px;

        @media (max-width:1024px) {
          font-size: 12px;
          line-height: 17px;
          max-width: 236px;
        }

        @media (max-width:576px) {
          font-size: 14px;
          line-height: 20px;
          max-width: none;
          text-align: center;
          max-width: 353px;
          padding: 0 20px;
        }
      }
    }

    .follow-the-journey-herobanner-items2-main-sc {
      display: none;

      @media (max-width:576px) {
        display: block !important;
      }
    }

    .follow-the-journey-herobanner-items2-main {

      @media (max-width:576px) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        display: none;
      }

      .follow-the-journey-herobanner-items2 {
        padding: 0 0 55px 55px;
        position: relative;

        @media (max-width:576px) {
          padding: 0 0 55px 70px;
        }

        .magazine-image-one {
          img {
            min-width: 320px;
            max-width: none;
            min-height: 428px;

            @media (max-width:1024px) {
              min-width: auto;
              max-width: 229px;
              min-height: 306px;
            }

            @media (max-width:576px) {
              min-width: 161px;
              max-width: 161px;
              min-height: 215px;
            }
          }
        }

        .magazine-image-two {
          position: absolute;
          bottom: 0;
          left: -180px;
          z-index: 1;

          @media (max-width:1024px) {
            bottom: 16px;
            left: -112px;
          }

          @media (max-width:576px) {
            bottom: 28px;
            left: -45px;
          }

          img {
            max-width: 324px;
            min-height: 442px;

            @media (max-width:1024px) {
              max-width: 232px;
              min-height: 316px;
            }

            @media (max-width:576px) {
              max-width: 163px;
              min-height: 222px;
            }
          }
        }
      }
    }
  }
}