.ausstellung-2024-page-links-main {
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
  margin: 0 0 81px 0;

  .ausstellung-2024-page-link {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #3d3d3d;

    a {
      text-decoration-line: none;
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 36px;
      font-weight: 900;
      line-height: 55px;
      letter-spacing: -0.04em;
      text-align: center;
      color: #f6f1e5;

      @media (max-width:576px) {
        font-size: 26px;
        line-height: 55px;
      }
    }
  }
}