.thebook-section-main {
  padding: 0 0 100px 0;

  @media (max-width:1024px) {
    padding: 0 0 57px 0;
  }
  @media (max-width:576px) {
    padding: 0 0 30px 0;
  }

  .thebook-section-container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .thebook-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;

    @media (max-width:1024px) {
      gap: 17px;
      justify-content: center;
    }

    @media (max-width:576px) {
      display: block;
    }

    .the-book-title {

      @media (max-width:576px) {
        display: flex;
        justify-content: end;
        align-items: center;
      }

      h1 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 148px;
        font-weight: 900;
        line-height: 128.84px;
        letter-spacing: -0.06em;
        text-align: right;
        color: #1b1b1b;
        max-width: 266px;

        @media (max-width:1024px) {
          font-size: 85px;
          line-height: 74px;
          max-width: 154px;
        }

        @media (max-width:576px) {
          font-size: 148px;
          line-height: 128px;
          max-width: 322px;
          margin: 0 0 -50px 0;
          position: relative;
        }
      }
    }

    .hometownheroescoffeewithpaperimage {
      img {
        min-width: 354px;
        min-height: 587px;
        display: block;

        @media (max-width:1024px) {
          min-width: auto;
          max-width: 205px;
          min-height: 339px;
        }

        @media (max-width:576px) {
          min-width: auto;
          max-width: none;
          max-height: 587px;
          margin: 0 0 30px 0;
        }
      }
    }

    p {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      margin: 0 0 34px 0;
      color: #1b1b1b;
      max-width: 484px;

      @media (max-width:1024px) {
        font-size: 12px;
        line-height: 17px;
        margin: 0 0 20px 0;
        max-width: 280px;
      }
      @media (max-width:576px) {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 20px 0;
        max-width: none;
        text-align: center;
      }
    }

    p:last-child {
      margin: 0 !important;
    }
  }
}