.herobanner-main {
  padding: 67px 0 0 0;

  @media (max-width: 1024px) {
    padding: 68px 0;
  }

  @media (max-width: 576px) {
    padding: 0;
  }

  .container-main {
    @media (max-width: 576px) {
      padding: 0;
    }
  }

  .herobanner-hometown-div {
    display: grid;
    grid-template-columns: 36% 32% 32%;
    gap: 0;
    align-items: end;
    margin: 0 0 69px 0;

    @media (max-width: 1024px) {
      display: flex;
      justify-content: center;
      gap: 63px;
    }

    @media (max-width: 576px) {
      display: block;
      margin: 0 0 43px 0;
    }

    .hometownheroes-title-main {
      @media (max-width:576px) {
        position: relative;
        height: 435px;
        overflow: hidden;
      }

      h1 {

        @media (max-width:576px) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .hometown-herobanner-center-content {
      margin: 0 auto;

      @media (max-width: 576px) {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 43px 37px 0 22px;
      }

      img {
        display: none;

        @media (max-width: 576px) {
          display: block;
          min-width: 148px;
          max-width: 148px;
          min-height: 198px;
        }
      }
    }

    h1 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 174px;
      font-weight: 900;
      line-height: 145px;
      letter-spacing: -0.06em;
      color: #1b1b1b;
      max-width: 416px;

      @media (max-width: 1024px) {
        font-size: 100px;
        line-height: 83.15px;
        max-width: 245px;
      }

      @media (max-width: 576px) {
        font-size: 174px;
        line-height: 145px;
        max-width: none;
        word-break: keep-all;
      }
    }

    p {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 54.1px;
      font-weight: 700;
      line-height: 56.27px;
      color: #1b1b1b;
      max-width: 304px;

      @media (max-width: 1024px) {
        font-size: 30px;
        line-height: 32.27px;
        max-width: 174px;
      }

      @media (max-width: 576px) {
        font-size: 25px;
        line-height: 26px;
        max-width: 134px;
      }
    }

    img {
      display: block;
      max-width: 320px;
      min-height: 428px;

      @media (max-width: 1024px) {
        max-width: 183px;
        max-height: 245px;
        min-width: auto;
        min-height: auto;
      }

      @media (max-width: 576px) {
        display: none;
      }
    }
  }

  .auktion-date-div-main {
    .fundamental-peragraph-main {
      text-align: center;
      margin: 69px 0 0 0;
      display: flex;
      justify-content: center;

      @media (max-width: 576px) {
        margin: 40px 0 0 0;
        padding: 0 25px 0 22px;
        text-align: left;
        display: block;
      }

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: #000000;
        max-width: 961px;

        @media (max-width: 1024px) {
          font-size: 16px;
          line-height: 22px;
          max-width: 728px;
        }

        @media (max-width: 576px) {
          font-size: 16px;
          line-height: 18px;
          max-width: 281px;
        }
      }
    }
  }
}