footer {
  padding: 0 0 30px 0;

  @media (max-width:576px) {
    padding: 0 0 20px 0;
  }

  .footer-container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width:576px) {
      padding: 0;
    }
  }

  .footer-last-content-main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    @media (max-width: 576px) {
      display: block;
    }

    h1 {
      text-align: center;
      color: #1b1b1b;
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 98px;
      font-weight: 900;
      line-height: 85px;
      letter-spacing: -0.06em;
      max-width: 700px;
      margin: 0 0 50px 0;

      @media (max-width:1024px) {
        font-size: 56px;
        line-height: 49px;
        max-width: 385px;
        margin: 0 0 28px 0;
      }

      @media (max-width:576px) {
        font-size: 98px;
        line-height: 85px;
        max-width: 417px;
      }
    }

    .contact-div {
      text-align: center;
      margin: 0;

      @media (max-width:576px) {
        margin: 0 0 31px 0;
        padding: 0 20px;
      }

      span {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #1b1b1b;

        @media (max-width:1024px) {
          font-size: 12px;
          line-height: 17px;
        }

        @media (max-width:576px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #1b1b1b;
        margin: 20px 0 0 0;

        @media (max-width:1024px) {
          font-size: 12px;
          line-height: 17px;
          margin: 16px 0 0 0;
        }

        @media (max-width:576px) {
          font-size: 14px;
          line-height: 20px;
          margin: 19px 0 0 0;
        }
      }

      a {
        text-decoration-line: none;
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #1b1b1b;
        display: block;

        @media (max-width:1024px) {
          font-size: 12px;
          line-height: 17px;
        }

        @media (max-width:576px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .impressum-and-datenschutz-links-main {
      margin: 69px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width:1024px) {
        margin: 28px auto 0 auto;
      }

      @media (max-width: 576px) {
        margin: 60px 0 0 0;
        justify-content: start;
        padding: 0 20px;
      }

      a {
        text-decoration-line: none;
        color: #1b1b1b;
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        min-width: 96px;

        @media (max-width:1024px) {
          font-size: 9px;
          line-height: 10px;
          min-width: 55px;
        }

        @media (max-width:576px) {
          text-align: left;
          font-size: 16px;
          line-height: 18px;
          min-width: 96px;
        }
      }
    }

    .jesam-icon-div-main {
      margin: 69px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 1024px) {
        margin: 28px 0 0 0;
      }

      @media (max-width: 576px) {
        margin: 2px 0 0 0;
        display: none;
      }

      a {
        text-decoration-line: none;

        svg {
          width: auto;

          @media (max-width: 1024px) {
            width: 94px;
          }
        }
      }
    }

    .jesam-icon-mobile-div-main {
      display: none;

      @media (max-width: 576px) {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 2px 0 0 0;
        padding: 0 20px;
      }
    }
  }
}