.impressum-section-main {
  margin: 67px 0 230px 0;
  height: auto;

  @media (max-width:1024px) {
    margin: 25px 0 0 0;
    height: calc(100vh - 62px - 25px - 183px);
  }

  @media (max-width:576px) {
    margin: 17px 0 49px 0;
    height: auto;
  }

  .impressum-container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .impressum-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width:576px) {
      flex-direction: column-reverse;
    }

    .impressum-title-web {
      width: 100%;

      h1 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 76px;
        font-weight: 900;
        line-height: 71px;
        letter-spacing: -0.06em;
        color: #1b1b1b;
        margin: 0 0 30px 0;
      }

      @media (max-width:576px) {
        display: none;
        text-align: center;
      }
    }

    .impressum-title-mobile {
      display: none;

      @media (max-width:576px) {
        display: block;
      }

      h1 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 76px;
        font-weight: 900;
        line-height: 71px;
        letter-spacing: -0.06em;
        text-align: center;
        color: #1b1b1b;
        margin: 0 0 52px 0;
      }
    }

    p {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: -0.06em;
      color: #1b1b1b;
      margin: 0 0 30px 0;

      @media (max-width:576px) {
        font-size: 35px;
        line-height: 44px;
        text-align: center;
      }
    }

    .contact-details-impressum {
      display: flex;
      justify-content: end;
      align-items: start;
      gap: 60px;

      @media (max-width:576px) {
        flex-direction: column;
        gap: 30px;
        margin: 0 0 30px 0;
        align-items: center;
      }

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 34.71px;
        letter-spacing: -0.06em;
        color: #1b1b1b;
        margin: 0;

        @media (max-width:576px) {
          font-size: 35px;
          line-height: 44px;
          text-align: center;
        }
      }

      h2 {

        a {
          @media (max-width:576px) {
            margin: 0 0 30px 0;
          }
        }
      }

      h2 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 900;
        line-height: 34.71px;
        letter-spacing: -0.06em;
        color: #1b1b1b;

        @media (max-width:576px) {
          font-size: 35px;
          line-height: 44px;
          text-align: center;
        }

        a {
          font-family: "Big Shoulders Display", sans-serif;
          font-size: 20px;
          font-weight: 900;
          line-height: 34.71px;
          letter-spacing: -0.06em;
          color: #1b1b1b;

          @media (max-width:576px) {
            font-size: 35px;
            line-height: 44px;
            text-align: center;
          }
        }
      }

      .link-div {

        @media (max-width:576px) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }

      a {
        display: block;
        width: fit-content;
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 34.71px;
        letter-spacing: -0.06em;
        color: #1b1b1b;
        text-decoration-line: none;

        @media (max-width:576px) {
          font-size: 35px;
          line-height: 44px;
          text-align: center;
        }
      }
    }
  }
}