.the-ideas-section-main {

  @media (max-width:1024px) {
    margin-right: 11%;
  }

  @media (max-width:867px) {
    margin-right: 0;
  }

  .the-ideas-section-container-one {
    max-width: 1133px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .the-ideas-section-container-two {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .the-ideas-section {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 40px;

    @media (max-width:1024px) {
      gap: 23px;
    }

    @media (max-width:576px) {
      display: block;
    }

    .hometownheroeskid1-div {

      @media (max-width:576px) {
        display: flex;
        justify-content: end;
      }

      img {
        max-width: 500px;
        min-height: 494px;

        @media (max-width:1024px) {
          max-width: 289px;
          min-height: 286px;
        }

        @media (max-width:576px) {
          max-width: 269px;
          min-height: 266px;
        }
      }
    }

    .the-idea-title {
      width: 100%;
      max-width: 350px;

      @media (max-width:1024px) {
        max-width: 202px;
      }

      @media (max-width:576px) {
        max-width: 291px;
        margin: -81px 0 0 0;
      }

      h1 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 148.09px;
        font-weight: 900;
        line-height: 128px;
        letter-spacing: -0.06em;
        color: #1b1b1b;
        max-width: 350px;
        word-break: break-word;

        @media (max-width:1024px) {
          font-size: 85px;
          line-height: 74px;
          max-width: 125px;
        }

        @media (max-width:576px) {
          font-size: 148px;
          line-height: 128px;
          max-width: 291px;
        }
      }
    }

    p {
      margin: 27px 0 0 0;
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      color: #1b1b1b;
      max-width: 350px;

      @media (max-width:1024px) {
        font-size: 12px;
        line-height: 17px;
        margin: 15px 0 0 0;
        max-width: 202px;
      }

      @media (max-width:576px) {
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        max-width: none;
      }
    }
  }

  .the-ideas-section-second {
    margin: -160px 0 93px 0;

    @media (max-width:1024px) {
      margin: -106px 0 53px 0;
    }

    @media (max-width:576px) {
      margin: 61px 0 40px 0;
    }

    .approach-div-main {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 53px;

      @media (max-width:1024px) {
        gap: 30px;
      }

      @media (max-width:576px) {
        flex-direction: column;
      }

      .approach-title {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 41px;
        margin: 0 0 39px 0;

        @media (max-width:1024px) {
          gap: 23px;
          margin: 0 0 22px 0;
        }

        @media (max-width:576px) {
          gap: 0;
          margin: 0 0 40px 0;
          flex-direction: column;
          align-items: center;
        }

        h1 {
          font-family: "Big Shoulders Display", sans-serif;
          font-size: 148.09px;
          font-weight: 900;
          line-height: 128.84px;
          letter-spacing: -0.06em;
          color: #1b1b1b;
          max-width: 219px;
          word-break: break-word;

          @media (max-width:1024px) {
            font-size: 85px;
            line-height: 74px;
            max-width: 126px;
          }

          @media (max-width:576px) {
            font-size: 148px;
            line-height: 128px;
            text-align: center;
            max-width: 291px;
            position: relative;
            margin: 0 0 -95px 0;
          }
        }

        .hometownheroeskid2-image {
          img {
            min-width: 357px;
            min-height: 511px;

            @media (max-width:1024px) {
              min-width: 206px;
              max-width: 206px;
              min-height: 295px;
            }

            @media (max-width:576px) {
              min-width: auto;
              max-width: none;
              min-height: 551px;
            }
          }
        }
      }

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        max-width: 618px;

        @media (max-width:1024px) {
          font-size: 12px;
          line-height: 17px;
          max-width: 357px;
        }
      }

      .Hometownheroeskid3-image {
        img {
          min-width: 509px;
          min-height: 284px;

          @media (max-width:1024px) {
            min-width: 294px;
            max-width: 294px;
            min-height: 164px;
          }

          @media (max-width:576px) {
            min-width: auto;
            max-width: none;
            min-height: 199px;
          }
        }
      }
    }
  }
}